@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

$color-white: white;
$color-black: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: $color-white;
}
.Home {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 0 auto;

  h1 {
    font-size: clamp(100px, 15vw, 15vw);
    font-weight: 900;
    margin-bottom: 10vh;
    max-width: 70vw;
    text-transform: uppercase;
    color: $color-black;
  }

  margin-left: 75px;
  padding-left: 50px;
  border-left: 1px solid rgb(116, 116, 116);
  width: calc(100vw - 126px);
}
