.ContactButton__button {
  background-color: black;
  position: absolute;
  right: 10vw;
  bottom: 40vh;
  border: 1px solid black;
  padding: 20px;

  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  span {
    margin-right: 10px;
  }
}
